/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,100;1,300&display=swap");

/* Variables */
:root {
  /* Colors */
  --main-black: #070b0d;
  --main-light: #ffd6da;
  --secondary-blue: #11bad8;
  --accent-sky: #5cc8ff;
  --font-white: #fcf9f8;
  --font-dark: #25173a;

  /* Font */
  --lato: Lato, sans-serif;
}

/* Reset default browser settings */
* {
  font-family: var(--lato);
  color: var(--font-white);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  border-bottom: 2px solid var(--accent-sky);
}

ul {
  list-style-type: none;
}

/* Paralax */
.paralax {
  background-image: url(https://source.unsplash.com/CK7rdTauhDE/1920x1080);
  min-height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Specific styles */
.header,
.first-section {
  background-color: var(--main-black);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px;
  /* border: 2px solid var(--accent-sky); */
}

#nav-links {
  display: flex;
  gap: 32px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* First section */
.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px 48px;
  padding-bottom: 80px;
  margin-bottom: 90px;
  /* border: 2px solid var(--accent-sky); */
}

.content {
  display: flex;
  gap: 24px;
  padding: 32px 0px;
  width: 70%;
  /* border: 2px solid var(--accent-sky); */
}

h1 {
  font-size: 48px;
  font-weight: bolder;
}

.fa-heart {
  transition: transform 0.3s ease-in-out;
}

.fa-heart:hover {
  color: var(--main-light);
  transform: scale(1.3);
}

h2 {
  font-size: 28px;
}

h2:hover {
  color: var(--main-light);
}

#first-paragraph {
  font-size: 18px;
  opacity: 0.6;
}

small {
  font-size: 20px;
  font-weight: 100;
}

#sign-up-button {
  font-size: 18px;
  border: 0;
  border-radius: 8px;
  padding: 10px 24px;
  background-color: var(--secondary-blue);
  transition: all 0.1s ease-in-out;
}

#sign-up-button:hover {
  background-color: #00aaff;
}

#sign-up-button:active {
  background-color: #003139;
  transform: scale(0.9);
}

.first-image {
  background-image: url(https://source.unsplash.com/rW-I87aPY5Y/1920x1080);
  background-size: cover;
  aspect-ratio: 16/9;
  max-width: 100%;
  box-shadow: 0px 0px 40px 10px #09bcdb63;
  border-radius: 16px;
}

.left-content,
.right-content {
  /* border: 2px solid var(--accent-sky); */
  flex: 1;
  padding: 24px;
}

.left-content > * {
  margin: 12px 0px;
}

/* Info section */
.information-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  background-color: var(--main-light);
  margin-bottom: 90px;
}

.information-container > * {
  color: var(--font-dark);
}

.info-header {
  font-size: 42px;
  font-weight: bold;
  margin-top: 64px;
  margin-bottom: 24px;
}

.card-image {
  background-size: cover;
  background-position: center;
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 16px;
  box-shadow: 5px 5px 10px 0px #333030;
}

.image-1 {
  background-image: url(https://source.unsplash.com/IC8zpKz6qF0/1920x1080);
  background-position: -69px 30px;
}

.image-2 {
  background-image: url(https://source.unsplash.com/clokmlaUwaU/1920x1080);
  background-position: -69px 0px;
}

.image-3 {
  background-image: url(https://source.unsplash.com/aolmXcUxr7Y/1920x1080);
}

.image-4 {
  background-image: url(https://source.unsplash.com/DKWjcMHF54E/1920x1080);
}

.content-info {
  display: flex;
  justify-content: center;
  gap: 52px;
  padding: 24px;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 200px;
}

.text {
  color: var(--font-dark);
  opacity: 0.6;
}

/* Testimonial section */
.testimonial {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  background-color: #ffd2d7;
  margin-bottom: 90px;
}

.testimonial-content > * {
  color: var(--font-dark);
}

.testimonial-content {
  padding: 90px 400px;
}

#quote {
  font-size: 36px;
  font-style: italic;
}

#author {
  text-align: right;
  font-size: 24px;
  padding-right: 24px;
}

/* Action section */
